{
	"swagger": "2.0",
	"info": {
		"version": "v1",
		"title": "Silverbyte Guest Portal API",
		"description": "Guest Portal API"
	},
	"host": "optima.wattsec.com",
	"basePath": "/Silverbyte.GuestPortal.DmzApplication",
	"schemes": [
		"https"
	],
	"paths": {
		"/api/DmzAccount/ForgotPassword": {
			
		},
		"/api/DmzCurrency/GetCurrencyExchange": {
			
		},
		"/api/DmzGuest/LoginGuest": {
			
		},
		"/api/DmzGuest/RegisterGuestWithDoorProvider": {
			
		},
		"/api/DmzGuest/RegisterDeviceWithGuest": {
			
		},
		"/api/DmzGuest/ExternalUpdateGuest": {
			"put": {
				"tags": [
					"DmzGuest"
				],
				"summary": "Updates guest details in the PMS (OTA)\r\nFields required for guest update:\r\n- UniqueID.ID - GuestID\r\nFields available to update:\r\n- ProfileModify.Customer.Address.AddressLine\r\n- ProfileModify.Customer.Address.CityName\r\n- ProfileModify.Customer.Address.CountryName - ISO 3 letter code\r\n- ProfileModify.Customer.Address.PostalCode\r\n- ProfileModify.Customer.Address.StateProv\r\n- ProfileModify.Customer.BirthDate\r\n- ProfileModify.Customer.Document.DocID\r\n- ProfileModify.Customer.Document.DocType - needs to be 1 (Passport) 2 (Identity Card)\r\n- ProfileModify.Customer.Email\r\n- ProfileModify.Customer.PersonName.GivenName\r\n- ProfileModify.Customer.PersonName.Surname\r\n- ProfileModify.Customer.Telephone.PhoneNumber\r\n- ProfileModify.Customer.CitizenCountryName.Code",
				"operationId": "DmzGuest_ExternalGuestUpdate",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_ProfileModifyRQ"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_ProfileModifyRS"
						}
					}
				}
			}
		},
		"/api/DmzGuest/ContactHotel": {
			
		},
		"/api/DmzGuest/IsGuestHasSocialMediaAccounts": {
			
		},
		"/api/DmzGuest/DeleteEndpoint/{deviceID}": {
			
		},
		"/api/DmzGuest/ExternalAttachFileToGuest": {
			"post": {
				"tags": [
					"DmzGuest"
				],
				"operationId": "DmzGuest_ExternalAttachFileToGuest",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA_FileAttachmentNotifRQ"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA_FileAttachmentNotifRS"
						}
					}
				}
			}
		},
		"/api/DmzGuest": {
			
		},
		"/api/DmzKeys/IssueKeyCard": {
			
		},
		"/api/DmzLocation/GetCountries": {
			
		},
		"/api/DmzMaintenanceCalls/CreateCall": {
			
		},
		"/api/DmzMaintenanceCalls/GetFails": {
			
		},
		"/api/DmzPOS/GetMenu": {
			"get": {
				"tags": [
					"DmzPOS"
				],
				"summary": "returns the available items of the POS menu",
				"operationId": "DmzPOS_ExternalGetMenu",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request.hotelID",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.outletID",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.GuestPortal.ExternalCommon.ExternalMenuResponse"
						}
					}
				}
			}
		},
		"/api/DmzPOS/CreateBon": {
			"post": {
				"tags": [
					"DmzPOS"
				],
				"summary": "creates bon in the pms system",
				"operationId": "DmzPOS_ExternalCreateBon",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.Common.POS.Bon.CreateSpecification"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.BaseDataResponse[Silverbyte.Infra.Framework.Common.Common.POS.Bon.CreateResult]"
						}
					}
				}
			}
		},
		"/api/DmzReservation/RequestKeysByReservationID": {
			
		},
		"/api/DmzReservation/PutReservationGuestProfile": {
			
		},
		"/api/DmzReservation/AddReservationToGuest": {
			
		},
		"/api/DmzReservation/UpdateETA": {
			
		},
		"/api/DmzReservation/ExternalCheckIn": {
			"put": {
				"tags": [
					"DmzReservation"
				],
				"summary": " enables the apps to checkin from the mobile.\r\n Used by external users\r\n\r\n Example request body:\r\n {\r\n  \"hotelReservations\": {\r\n    \"hotelReservation\": [\r\n      {\r\n       \"uniqueID\": {\r\n          \"id\": \"13154\"\r\n        }\r\n      }\r\n    ]\r\n  }\r\n }\r\n}",
				"description": "Although the method allows the caller sending multiple reservations, only the first reservation\r\nis the one that will be checked in.",
				"operationId": "DmzReservation_ExternalCheckIn",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "reservation",
						"in": "body",
						"description": "OTA_HotelResNotifRQ",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_HotelResNotifRQ"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_HotelResNotifRS"
						}
					}
				}
			}
		},
		"/api/DmzReservation/ExternalPreCheckIn": {
			
		},
		"/api/DmzReservation/ExternalArrived": {
			"put": {
				"tags": [
					"DmzReservation"
				],
				"summary": "This will change reservation status from “Reserved” to “Arrived”.\r\n“Arrived” status represents a reservation that its guest has arrived to the hotel but still dosent received a room.\r\nThis action will also change the folio status to open and in some\r\nOptima instances will send a sms to the guest when his room will be available.",
				"operationId": "DmzReservation_ExternalArrived",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "reservation",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_HotelResNotifRQ"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_HotelResNotifRS"
						}
					}
				}
			}
		},
		"/api/DmzReservation/ExternalGetReservations": {
			"post": {
				"tags": [
					"DmzReservation"
				],
				"summary": "This action was changed to POST from GET becuase of the complexity of the OTA object",
				"operationId": "DmzReservation_ExternalGetReservations",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OBSOLETE_OTA_ReadRQ"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_HotelResNotifRS"
						}
					}
				}
			}
		},
		"/api/DmzReservation/ExternalCheckOut": {
			"put": {
				"tags": [
					"DmzReservation"
				],
				"summary": " enables the apps to checkout from the mobile.\r\n Used by external users\r\n\r\n Example request body:\r\n {\r\n  \"hotelReservations\": {\r\n    \"hotelReservation\": [\r\n      {\r\n       \"uniqueID\": {\r\n          \"id\": \"13154\"\r\n        }\r\n      }\r\n    ]\r\n  }\r\n }\r\n}",
				"description": "Although the method allows the caller sending multiple reservations, only the first reservation\r\nis the one that will be checked out.",
				"operationId": "DmzReservation_ExternalCheckOut",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request",
						"in": "body",
						"description": "OTA_HotelResNotifRQ",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_HotelResNotifRQ"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_HotelResNotifRS"
						}
					}
				}
			}
		},
		"/api/DmzReservation/GetFolios": {
			
		},
		"/api/DmzReservation/PostInvoice": {
			
		},
		"/api/DmzReservation/UpdateHousekeepingStatus": {
			
		},
		"/api/DmzReservation/UpdateReservationComments": {
			
		},
		"/api/DmzReservation/GetReservationCreditCard": {
			
		},
		"/api/DmzReservation/ExternalReservationUpdate": {
			"put": {
				"tags": [
					"DmzReservation"
				],
				"summary": "Patch method.\r\nRequired fields:\r\n- HotelReservations.HotelReservation[].UniqueID.ID: reservation ID\r\nFields available to update:\r\n- HotelReservations.HotelReservation[].ResGuests.ResGuest[].ArrivalTime - in the format of timeSpan \"12:34\"\r\n- HotelReservations.HotelReservation[].ResGlobalInfo.Comments.Commnet[].Text - the new comment text will be added to the existing comments",
				"operationId": "DmzReservation_ExternalReservationUpdate",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_HotelResNotifRQ"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_HotelResNotifRS"
						}
					}
				}
			}
		},
		"/api/DmzReservation/ExternalAttachFileToReservation": {
			"post": {
				"tags": [
					"DmzReservation"
				],
				"summary": "Relates a file to optima reservation. the file sent needs to be in the base64 string format.\r\nRequired fields:\r\n- FileAttachmentReferences.FileAttachmentReference[].ContentData - base64 string data content.\r\n- TPA_Extensions.Silverbyte_UniqueID - the reservatino ID.\r\nOptional fields:\r\n- FileAttachmentReferences.FileAttachmentReference[].FileName - the file name.",
				"operationId": "DmzReservation_ExternalAttachFileToReservation",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA_FileAttachmentNotifRQ"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA_FileAttachmentNotifRS"
						}
					}
				}
			}
		},
		"/api/DmzReservation/CreateKadabraUrl": {
			
		},
		"/api/DmzReservation": {
			
		},
		"/api/DmzFinance/ExternalPostCharge": {
			"post": {
				"tags": [
					"FinanceDmz"
				],
				"summary": "when using this method a debit transaction will be created. (STUB)\r\nFolioID - Posting.Transaction.RevenueDetails.RevenueDetail[].FolioIDs.FolioID[]\r\nTransactionCodeID - Posting.Transaction.RevenueDetails.RevenueDetail[].Silverbyte_TransactionCodeID\r\nCurrencyCode - Posting.Transaction.RevenueDetails.RevenueDetail[].CurrencyCode\r\nAmount - Posting.Transaction.RevenueDetails.RevenueDetail[].ExtendedPrice.AmountBeforeTax / AmountAfterTax\r\nQuantity - Posting.Transaction.RevenueDetails.RevenueDetail[].ExtendedPrice.Quantity",
				"operationId": "FinanceDmz_ExternalPostCharge",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.HTNG_ChargePostingRQ"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.HTNG_ChargePostingRS"
						}
					}
				}
			}
		},
		"/api/DmzFinance/ExternalPostPayment": {
			"post": {
				"tags": [
					"FinanceDmz"
				],
				"summary": "FolioID - StayInfo.RevenueCategories.RevenueCategory[].RevenueDetails.RevenueDetail[].FolioIDs.FolioID[]\r\nTransactionCodeID - Silverbyte_TransactionCode\r\nCurrencyCode - StayInfo.HotelReservation.RoomStays.RoomStay[].RoomRates.RoomRate[].Total.CurrencyCodeName - ISO 4217 3 Chars\r\nAmount - StayInfo.HotelReservation.RoomStays.RoomStay[].RoomRates.RoomRate[].Total.AmountBeforeTax / AmountAfterTax\r\nVoucher - AuthorizationDetail.CreditCardAuthorization.ID.ID",
				"operationId": "FinanceDmz_ExternalPostPayment",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.HTNG_PaymentCardProcessingRQ"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.HTNG_PaymentCardProcessingRS"
						}
					}
				}
			}
		},
		"/api/DmzFinance/ExternalAuthorization": {
			"post": {
				"tags": [
					"FinanceDmz"
				],
				"operationId": "FinanceDmz_ExternalAuthorization",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.HTNG_PaymentCardProcessingRQ"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.HTNG_PaymentCardProcessingRS"
						}
					}
				}
			}
		},
		"/api/DmzFinance/ExternalGetReservationFolios": {
			"get": {
				"tags": [
					"FinanceDmz"
				],
				"summary": "get the reservation folios from the PMS\r\nPass the reservationID in \"request.uniqueID.id\"\r\nPass the requested currency in \"request.silverbyte_CurrencyCode\"",
				"operationId": "FinanceDmz_ExternalGetReservationFolios",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request.pos.source.requestorID.companyName.companyShortName",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.requestorID.companyName.travelSector",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.requestorID.companyName.code",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.requestorID.companyName.codeContext",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.requestorID.companyName.division",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.requestorID.companyName.department",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.requestorID.companyName.value",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.requestorID.url",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.requestorID.type",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.requestorID.instance",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.requestorID.id",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.requestorID.iD_Context",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.requestorID.tpA_Extensions.reservationMasterID",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.requestorID.tpA_Extensions.nationalityID",
						"in": "query",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "request.pos.source.requestorID.tpA_Extensions.externalGuestID",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.bookingChannel.companyName.companyShortName",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.bookingChannel.companyName.travelSector",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.bookingChannel.companyName.code",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.bookingChannel.companyName.codeContext",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.bookingChannel.companyName.division",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.bookingChannel.companyName.department",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.bookingChannel.companyName.value",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.bookingChannel.primary",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.bookingChannel.type",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.pos.source.terminalID",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.uniqueID.companyName.companyShortName",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.uniqueID.companyName.travelSector",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.uniqueID.companyName.code",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.uniqueID.companyName.codeContext",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.uniqueID.companyName.division",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.uniqueID.companyName.department",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.uniqueID.companyName.value",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.uniqueID.url",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.uniqueID.type",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.uniqueID.instance",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.uniqueID.id",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.uniqueID.iD_Context",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.uniqueID.tpA_Extensions.reservationMasterID",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.uniqueID.tpA_Extensions.nationalityID",
						"in": "query",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "request.uniqueID.tpA_Extensions.externalGuestID",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "request.silverbyte_CurrencyCode",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.HTNG_HotelFolioRS"
						}
					}
				}
			}
		},
		"/api/DmzFinance/FolioReroute": {
			"put": {
				"tags": [
					"FinanceDmz"
				],
				"summary": "Reroutes folio charges to new folio",
				"operationId": "FinanceDmz_ExternalRerouteFolio",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.GuestPortal.ExternalCommon.RerouteFolioRequest"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.GuestPortal.ExternalCommon.RerouteFolioResponse"
						}
					}
				}
			}
		},
		"/api/DmzFinance/ExternalGetReservationsValue": {
			"post": {
				"tags": [
					"FinanceDmz"
				],
				"summary": "Returns the reservation's future value\r\nusally used before reservation check to calculate the price",
				"operationId": "FinanceDmz_ExternalGetReservationsValue",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.GuestPortal.ExternalCommon.ExternalReservationValueSpecification"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_HotelResNotifRS"
						}
					}
				}
			}
		},
		"/api/DmzG4Data/GetHotels": {
			
		},
		"/api/DmzG4Data/GetLanguages": {
			
		},
		"/api/DmzG4Data/GetCities": {
			
		},
		"/api/DmzG4Data/GetRegions": {
			
		},
		"/api/DmzG4Data/GetGuestAppLanguages": {
			
		},
		"/api/DmzG4Data/WebGateway/{req}": {
			
		},
		"/api/DmzGuestPortalSettings": {
			
		},
		"/api/DmzReservationUpgrades/RoomUpgrade": {
			
		},
		"/api/DmzReservationUpgrades/AddonUpgrade": {
			
		},
		"/api/DmzReservationUpgrades/ExternalAddonUpgrade": {
			"post": {
				"tags": [
					"ReservationUpgradesDmz"
				],
				"summary": "Used to add special services / addons to a reservation.\r\nCurrently only supporting add of a special service, no update or delete.",
				"operationId": "ReservationUpgradesDmz_ExternalAddonUpgrade",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_HotelResNotifRQ"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_HotelResNotifRS"
						}
					}
				}
			}
		},
		"/api/DmzReservationUpgrades/ExternalRoomUpgrade": {
			"post": {
				"tags": [
					"ReservationUpgradesDmz"
				],
				"summary": "Used to add special services / addons to a reservation.\r\nCurrently only supporting add of a special service, no update or delete.",
				"operationId": "ReservationUpgradesDmz_ExternalRoomUpgrade",
				"consumes": [
					"application/json",
					"text/json",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/xml"
				],
				"parameters": [
					{
						"name": "request",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_HotelResNotifRQ"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "access token (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Username",
						"in": "header",
						"description": "Username for authentication (Optional)",
						"required": false,
						"type": "string"
					},
					{
						"name": "Password",
						"in": "header",
						"description": "Password for authentication (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_HotelResNotifRS"
						}
					}
				}
			}
		},
		"/api/DmzResource/GetMobileResources": {
			
		}
	},
	"definitions": {
		"Silverbyte.GuestPortal.ExternalCommon.PasswordForgotRequest": {
			"type": "object",
			"properties": {
				"email": {
					"type": "string"
				},
				"hotelChainID": {
					"type": "string"
				},
				"externalApplicationID": {
					"type": "string"
				},
				"langaugeCode": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.PasswordForgotResult": {
			"type": "object",
			"properties": {
				"isMailSent": {
					"type": "boolean"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.CurrencyExchangeExternalSpecification": {
			"type": "object",
			"properties": {
				"currencyCode": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.CurrencyExchangeDTO": {
			"type": "object",
			"properties": {
				"_id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"unit": {
					"format": "int32",
					"type": "integer"
				},
				"currencyCode": {
					"type": "string"
				},
				"country": {
					"type": "string"
				},
				"rate": {
					"format": "double",
					"type": "number"
				},
				"change": {
					"format": "double",
					"type": "number"
				},
				"updateDate": {
					"format": "date-time",
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.GuestLoginExternalSpecification": {
			"type": "object",
			"properties": {
				"email": {
					"type": "string"
				},
				"password": {
					"type": "string"
				},
				"facebookApiID": {
					"type": "string"
				},
				"googleApiID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.GuestLoginResultDTO": {
			"type": "object",
			"properties": {
				"guest": {
					"$ref": "#/definitions/Silverbyte.GuestPortal.ExternalCommon.GuestDTO"
				},
				"authToken": {
					"type": "string"
				},
				"kadabraSettings": {
					"$ref": "#/definitions/Silverbyte.GuestPortal.ExternalCommon.KadabraGlobalSettingsDTO"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.GuestDTO": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"email": {
					"type": "string"
				},
				"userName": {
					"type": "string"
				},
				"firstName": {
					"type": "string"
				},
				"lastName": {
					"type": "string"
				},
				"password": {
					"type": "string"
				},
				"guestReservations": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"devices": {
					"type": "object",
					"additionalProperties": {
						"$ref": "#/definitions/Silverbyte.GuestPortal.ExternalCommon.DeviceInformationDTO"
					}
				},
				"imageURL": {
					"type": "string"
				},
				"defaultCurrency": {
					"type": "string"
				},
				"defaultLanguage": {
					"type": "string"
				},
				"isSendNotifications": {
					"type": "boolean"
				},
				"facebookApiID": {
					"type": "string"
				},
				"googleApiID": {
					"type": "string"
				},
				"gender": {
					"format": "int32",
					"enum": [
						0,
						1,
						2
					],
					"type": "integer"
				},
				"birthday": {
					"format": "date-time",
					"type": "string"
				},
				"externalCredentials": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.GuestPortal.ExternalCommon.ExternalCredentialsDTO"
					}
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.KadabraGlobalSettingsDTO": {
			"type": "object",
			"properties": {
				"isShowBookingScreen": {
					"type": "boolean"
				},
				"g4BaseURL": {
					"type": "string"
				},
				"androidVersionCode": {
					"format": "int32",
					"type": "integer"
				},
				"iOsVersionCode": {
					"format": "float",
					"type": "number"
				},
				"kadabraAddReservationMailURL": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.DeviceInformationDTO": {
			"type": "object",
			"properties": {
				"assaAbloy": {
					"$ref": "#/definitions/Silverbyte.GuestPortal.ExternalCommon.AssaAbloyDoorProviderDTO"
				},
				"notificationDeviceID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.ExternalCredentialsDTO": {
			"type": "object",
			"properties": {
				"appID": {
					"type": "string"
				},
				"password": {
					"type": "string"
				},
				"guestPortalChainID": {
					"type": "string"
				},
				"facebookLoginID": {
					"type": "string"
				},
				"googleLoginID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.AssaAbloyDoorProviderDTO": {
			"type": "object",
			"properties": {
				"invitationCode": {
					"type": "string"
				},
				"endPointId": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.RegisterGuestWithDoorProviderSpecification": {
			"type": "object",
			"properties": {
				"reservationID": {
					"type": "string"
				},
				"guestID": {
					"type": "string"
				},
				"deviceUID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.DeviceRegisterSpecification": {
			"type": "object",
			"properties": {
				"deviceUID": {
					"type": "string"
				},
				"notificationID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_ProfileModifyRQ": {
			"type": "object",
			"properties": {
				"uniqueID": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.UniqueID_Type"
					}
				},
				"profileModify": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.Profile"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.UniqueID_Type": {
			"type": "object",
			"properties": {
				"companyName": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.CompanyNameType"
				},
				"url": {
					"type": "string"
				},
				"type": {
					"type": "string"
				},
				"instance": {
					"type": "string"
				},
				"id": {
					"type": "string"
				},
				"iD_Context": {
					"type": "string"
				},
				"tpA_Extensions": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.UniqueID_Type_TPA_Extensions"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.Profile": {
			"type": "object",
			"properties": {
				"customer": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.Customer"
				},
				"prefCollections": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.PrefCollections"
				},
				"tpA_Extensions": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.TPA_ExtensionsProfileType"
				},
				"companyInfo": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.CompanyInfoType"
				},
				"profileType": {
					"type": "string"
				},
				"comments": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.CommentType"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.CompanyNameType": {
			"type": "object",
			"properties": {
				"companyShortName": {
					"type": "string"
				},
				"travelSector": {
					"type": "string"
				},
				"code": {
					"type": "string"
				},
				"codeContext": {
					"type": "string"
				},
				"division": {
					"type": "string"
				},
				"department": {
					"type": "string"
				},
				"value": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.UniqueID_Type_TPA_Extensions": {
			"type": "object",
			"properties": {
				"reservationMasterID": {
					"type": "string"
				},
				"nationalityID": {
					"format": "int32",
					"type": "integer"
				},
				"externalGuestID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.Customer": {
			"type": "object",
			"properties": {
				"tpA_Extensions": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.SilverByte_Customer_TPA_Extensions"
				},
				"birthDate": {
					"format": "date-time",
					"type": "string"
				},
				"additionalLanguage": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.AdditionalLanguageType"
					}
				},
				"personName": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.PersonName"
					}
				},
				"telephone": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.Telephone"
					}
				},
				"document": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.Document"
					}
				},
				"email": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"address": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.Address"
					}
				},
				"customerValue": {
					"type": "string"
				},
				"gender": {
					"type": "string"
				},
				"paymentForm": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.CustomerPaymentFromType"
					}
				},
				"citizenCountryName": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.CitizenCountryNameType"
					}
				},
				"custLoyalty": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.CustLoyalty"
					}
				},
				"contactPerson": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ContactPersonType"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.PrefCollections": {
			"type": "object",
			"properties": {
				"prefCollection": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.PrefCollection"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.TPA_ExtensionsProfileType": {
			"type": "object",
			"properties": {
				"silverbyte_HotelID": {
					"type": "string"
				},
				"silverbyte_GuestAllowSMS": {
					"type": "boolean"
				},
				"silverbyte_GuestAllowEmail": {
					"type": "boolean"
				},
				"silverbyte_GuestAgreePolicy": {
					"type": "boolean"
				},
				"hotelID": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.CompanyInfoType": {
			"type": "object",
			"properties": {
				"companyName": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.CompanyNameType"
				},
				"silverbyte_CompanyName": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.CompanyNameType"
					}
				},
				"addressInfo": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.CompanyInfoTypeAddressInfo"
				},
				"telephoneInfo": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.CompanyInfoTypeTelephoneInfo"
				},
				"contactPerson": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ContactPersonType"
				},
				"email": {
					"type": "string"
				},
				"businessLocale": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.AddressType"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.CommentType": {
			"type": "object",
			"properties": {
				"comment": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.Comment"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.SilverByte_Customer_TPA_Extensions": {
			"type": "object",
			"properties": {
				"income": {
					"format": "double",
					"type": "number"
				},
				"currencySymbol": {
					"type": "string"
				},
				"anniversaryDate": {
					"format": "date-time",
					"type": "string"
				},
				"resrvasionGuestCategoryCode": {
					"type": "string"
				},
				"resrvasionGuestCategory": {
					"type": "string"
				},
				"images": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.Image"
					}
				},
				"hotelCode": {
					"type": "string"
				},
				"isCashBasis": {
					"type": "boolean"
				},
				"isReservationMainGuest": {
					"type": "boolean"
				},
				"silverbyte_EmailOptInStatus": {
					"enum": [
						"OptedIn",
						"OptedOut",
						"Unknown"
					],
					"type": "string"
				},
				"hotelID": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.AdditionalLanguageType": {
			"type": "object",
			"properties": {
				"code": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.PersonName": {
			"type": "object",
			"properties": {
				"namePrefix": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"givenName": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"surname": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"nameType": {
					"format": "int32",
					"enum": [
						1,
						2,
						3,
						4
					],
					"type": "integer"
				},
				"tpA_Extensions": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.PersonName_TPA_Extensions"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.Telephone": {
			"type": "object",
			"properties": {
				"formattedInd": {
					"type": "string"
				},
				"phoneLocationType": {
					"type": "string"
				},
				"phoneNumber": {
					"type": "string"
				},
				"phoneTechType": {
					"type": "string"
				},
				"phoneUseType": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.Document": {
			"type": "object",
			"properties": {
				"additionalPersonNames": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.AdditionalPersonNames"
				},
				"docHolderFormattedName": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.PersonName"
				},
				"docHolderName": {
					"type": "string"
				},
				"docLimitations": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"tpA_Extensions": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.TPA_Extensions_Document"
				},
				"docID": {
					"type": "string"
				},
				"docType": {
					"format": "int32",
					"enum": [
						1,
						2
					],
					"type": "integer"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.Address": {
			"type": "object",
			"properties": {
				"addressType": {
					"type": "string"
				},
				"otherAddressType": {
					"type": "string"
				},
				"countryCode": {
					"type": "string"
				},
				"addressLine": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"cityName": {
					"type": "string"
				},
				"postalCode": {
					"type": "string"
				},
				"stateProv": {
					"type": "string"
				},
				"countryName": {
					"type": "string"
				},
				"streetNmbr": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.CustomerPaymentFromType": {
			"type": "object",
			"properties": {
				"cash": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.CashType"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.CitizenCountryNameType": {
			"type": "object",
			"properties": {
				"code": {
					"type": "string"
				},
				"defaultInd": {
					"type": "boolean"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.CustLoyalty": {
			"type": "object",
			"properties": {
				"allianceLoyaltyLevelName": {
					"type": "string"
				},
				"loyalLevelCode": {
					"type": "string"
				},
				"membershipID": {
					"type": "string"
				},
				"silverbyte_MembershipStatus": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.ContactPersonType": {
			"type": "object",
			"properties": {
				"personName": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.PersonName"
				},
				"telephone": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.Telephone"
					}
				},
				"address": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.Address"
					}
				},
				"email": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.Email"
					}
				},
				"companyName": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.CompanyNameType"
					}
				},
				"employeeInfo": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.EmployeeInfo"
					}
				},
				"contactType": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.PrefCollection": {
			"type": "object",
			"properties": {
				"hotelPref": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.HotelPref"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.CompanyInfoTypeAddressInfo": {
			"type": "object",
			"properties": {
				"addressLine": {
					"type": "array",
					"items": {
						"type": "string"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.CompanyInfoTypeTelephoneInfo": {
			"type": "object",
			"properties": {
				"formattedInd": {
					"type": "string"
				},
				"phoneTechType": {
					"type": "string"
				},
				"phoneNumber": {
					"type": "string"
				},
				"phoneUseType": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.AddressType": {
			"type": "object",
			"properties": {
				"addressLine": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"cityName": {
					"type": "string"
				},
				"postalCode": {
					"type": "string"
				},
				"countryName": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.CountryNameType"
				},
				"stateProv": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.StateProvType"
				},
				"type": {
					"type": "string"
				},
				"formattedInd": {
					"type": "string"
				},
				"defaultInd": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.Comment": {
			"type": "object",
			"properties": {
				"item": {
					"type": "object"
				},
				"itemElementName": {
					"format": "int32",
					"enum": [
						0,
						1,
						2
					],
					"type": "integer"
				},
				"commentType": {
					"type": "string"
				},
				"insertUser": {
					"type": "string"
				},
				"insertDate": {
					"format": "date-time",
					"type": "string"
				},
				"insertDateSpecified": {
					"type": "boolean"
				},
				"updateUser": {
					"type": "string"
				},
				"updateDate": {
					"format": "date-time",
					"type": "string"
				},
				"updateDateSpecified": {
					"type": "boolean"
				},
				"inactiveDate": {
					"format": "date-time",
					"type": "string"
				},
				"inactiveDateSpecified": {
					"type": "boolean"
				},
				"text": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.Image": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"base64Data": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.PersonName_TPA_Extensions": {
			"type": "object",
			"properties": {
				"invoiceFirstName": {
					"type": "string"
				},
				"invoiceLastName": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.AdditionalPersonNames": {
			"type": "object",
			"properties": {
				"additionalPersonName": {
					"type": "array",
					"items": {
						"type": "string"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.TPA_Extensions_Document": {
			"type": "object",
			"properties": {
				"hotelID": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.CashType": {
			"type": "object",
			"properties": {
				"cashIndicator": {
					"type": "boolean"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.Email": {
			"type": "object",
			"properties": {
				"value": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.EmployeeInfo": {
			"type": "object",
			"properties": {
				"employeeId": {
					"type": "string"
				},
				"employeeLevel": {
					"type": "string"
				},
				"employeeTitle": {
					"type": "string"
				},
				"employeeStatus": {
					"type": "string"
				},
				"value": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.HotelPref": {
			"type": "object",
			"properties": {
				"tpA_Extensions": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.HotelIdentity"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.CountryNameType": {
			"type": "object",
			"properties": {
				"code": {
					"type": "string"
				},
				"value": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.StateProvType": {
			"type": "object",
			"properties": {
				"stateCode": {
					"type": "string"
				},
				"value": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.HotelIdentity": {
			"type": "object",
			"properties": {
				"hotelCode": {
					"type": "string"
				},
				"hotelID": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_ProfileModifyRS": {
			"type": "object",
			"properties": {
				"uniqueID": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.UniqueID_Type"
				},
				"silverbyte_OriginalRequest": {
					"type": "string"
				},
				"success": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.SuccessType"
				},
				"errors": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ErrorsType"
				},
				"warnings": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.WarningsType"
				},
				"correlationID": {
					"type": "string"
				},
				"replyTo": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.SuccessType": {
			"type": "object",
			"properties": {
				
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.ErrorsType": {
			"type": "object",
			"properties": {
				"error": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ErrorType"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.WarningsType": {
			"type": "object",
			"properties": {
				"warning": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.WarningType"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.ErrorType": {
			"type": "object",
			"properties": {
				"nodeList": {
					"type": "string"
				},
				"type": {
					"type": "string"
				},
				"recordID": {
					"type": "string"
				},
				"shortText": {
					"type": "string"
				},
				"code": {
					"type": "string"
				},
				"docURL": {
					"type": "string"
				},
				"status": {
					"type": "string"
				},
				"tag": {
					"type": "string"
				},
				"text": {
					"type": "string"
				},
				"silverbyte_PMSReservationNumber": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.WarningType": {
			"type": "object",
			"properties": {
				"type": {
					"type": "string"
				},
				"shortText": {
					"type": "string"
				},
				"code": {
					"type": "string"
				},
				"status": {
					"type": "string"
				},
				"nodeList": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.ContactHotelSpecification": {
			"type": "object",
			"properties": {
				"reservationID": {
					"type": "string"
				},
				"mailToSend": {
					"type": "string"
				},
				"subject": {
					"type": "string"
				},
				"body": {
					"type": "string"
				},
				"guestFullName": {
					"type": "string"
				},
				"guestPhoneNumber": {
					"type": "string"
				},
				"mailCC": {
					"type": "array",
					"items": {
						"type": "string"
					}
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.MailSendResult": {
			"type": "object",
			"properties": {
				"isMailSent": {
					"type": "boolean"
				},
				"errorMessage": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.SocialMediaSpecification": {
			"type": "object",
			"properties": {
				"facebookApiID": {
					"type": "string"
				},
				"googleApiID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.EndpointDeleteResult": {
			"type": "object",
			"properties": {
				"isDeleted": {
					"type": "boolean"
				},
				"responseStatusCode": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA_FileAttachmentNotifRQ": {
			"type": "object",
			"properties": {
				"fileAttachmentReferences": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.FileAttachmentReferences"
				},
				"pos": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_POS"
				},
				"tpA_Extensions": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.FileAttachTPA_Extensions"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.FileAttachmentReferences": {
			"type": "object",
			"properties": {
				"fileAttachmentReference": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.FileAttachmentReference"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_POS": {
			"type": "object",
			"properties": {
				"source": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.SourceType"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.FileAttachTPA_Extensions": {
			"type": "object",
			"properties": {
				"silverbyte_UniqueID": {
					"type": "string"
				},
				"silverbyte_HotelID": {
					"type": "string"
				},
				"isSignFileDigitally": {
					"type": "boolean"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.FileAttachmentReference": {
			"type": "object",
			"properties": {
				"contentCaption": {
					"type": "string"
				},
				"contentData": {
					"type": "string"
				},
				"fileName": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"codeDetail": {
					"type": "string"
				},
				"id": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.SourceType": {
			"type": "object",
			"properties": {
				"requestorID": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.UniqueID_Type"
				},
				"bookingChannel": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.SourceTypeBookingChannel"
				},
				"terminalID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.SourceTypeBookingChannel": {
			"type": "object",
			"properties": {
				"companyName": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.CompanyNameType"
				},
				"primary": {
					"type": "string"
				},
				"type": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA_FileAttachmentNotifRS": {
			"type": "object",
			"properties": {
				"silverbyte_OriginalRequest": {
					"type": "string"
				},
				"success": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.SuccessType"
				},
				"errors": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ErrorsType"
				},
				"warnings": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.WarningsType"
				},
				"correlationID": {
					"type": "string"
				},
				"replyTo": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.GuestExternalSpecification": {
			"type": "object",
			"properties": {
				"email": {
					"type": "string"
				},
				"guestID": {
					"type": "string"
				},
				"reservationID": {
					"type": "string"
				},
				"facebookApiID": {
					"type": "string"
				},
				"googleApiID": {
					"type": "string"
				},
				"deviceID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.HTNG_HotelKeyEncodeRQ": {
			"type": "object",
			"properties": {
				"pos": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.HTNG_POS"
				},
				"uniqueID": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.UniqueID_Type"
				},
				"hotelKeyEncode": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.HotelKeyEncodeType"
				},
				"silverbyte_HotelID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.HTNG_POS": {
			"type": "object",
			"properties": {
				"source": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.SourceType"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.HotelKeyEncodeType": {
			"type": "object",
			"properties": {
				"keyType": {
					"type": "string"
				},
				"quantity": {
					"format": "int32",
					"type": "integer"
				},
				"encoder": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.EncoderType"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.EncoderType": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"timeSpen": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.TimeSpanType"
				},
				"roomType": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.RoomTypeType"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.TimeSpanType": {
			"type": "object",
			"properties": {
				"endSpecified": {
					"type": "boolean"
				},
				"end": {
					"format": "date-time",
					"type": "string"
				},
				"start": {
					"format": "date-time",
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.RoomTypeType": {
			"type": "object",
			"properties": {
				"occupancy": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.RoomTypeTypeOccupancy"
					}
				},
				"roomDescription": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ParagraphType"
				},
				"additionalDetails": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.AdditionalDetailsType"
				},
				"isAlternate": {
					"type": "boolean"
				},
				"numberOfUnits": {
					"type": "string"
				},
				"isRoom": {
					"type": "boolean"
				},
				"roomType": {
					"type": "string"
				},
				"roomTypeCode": {
					"type": "string"
				},
				"roomCategory": {
					"type": "string"
				},
				"roomID": {
					"type": "string"
				},
				"floor": {
					"type": "string"
				},
				"roomLocationCode": {
					"type": "string"
				},
				"bedTypeCode": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"quantity": {
					"type": "string"
				},
				"tpA_Extensions": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.SilverByte_OTA_RoomTypeType_TPA_ExtensionsType"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.RoomTypeTypeOccupancy": {
			"type": "object",
			"properties": {
				"minOccupancy": {
					"format": "int32",
					"type": "integer"
				},
				"maxOccupancy": {
					"format": "int32",
					"type": "integer"
				},
				"ageQualifyingCode": {
					"type": "string"
				},
				"minAge": {
					"type": "string"
				},
				"maxAge": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.ParagraphType": {
			"type": "object",
			"properties": {
				"text": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.FormattedTextTextType"
				},
				"image": {
					"type": "string"
				},
				"name": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.AdditionalDetailsType": {
			"type": "object",
			"properties": {
				"additionalDetail": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.AdditionalDetailType"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.SilverByte_OTA_RoomTypeType_TPA_ExtensionsType": {
			"type": "object",
			"properties": {
				"roomNumber": {
					"type": "string"
				},
				"roomName": {
					"type": "string"
				},
				"roomCatTypeCode": {
					"type": "string"
				},
				"isActive": {
					"type": "boolean"
				},
				"displayOrder": {
					"format": "int32",
					"type": "integer"
				},
				"numberOfSingleBeds": {
					"format": "int32",
					"type": "integer"
				},
				"numberOfDoubleBeds": {
					"format": "int32",
					"type": "integer"
				},
				"numberOfExtraBeds": {
					"format": "int32",
					"type": "integer"
				},
				"hotelID": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.FormattedTextTextType": {
			"type": "object",
			"properties": {
				"value": {
					"type": "string"
				},
				"language": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.AdditionalDetailType": {
			"type": "object",
			"properties": {
				"detailDescription": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ParagraphType"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.HTNG_HotelKeyEncodeRS": {
			"type": "object",
			"properties": {
				"silverbyte_OriginalRequest": {
					"type": "string"
				},
				"success": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.SuccessType"
				},
				"errors": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ErrorsType"
				},
				"warnings": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.WarningsType"
				},
				"correlationID": {
					"type": "string"
				},
				"replyTo": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.CountrySpecification": {
			"type": "object",
			"properties": {
				"alpha3Code": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.CountryDTO": {
			"type": "object",
			"properties": {
				"_id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"alpha2Code": {
					"type": "string"
				},
				"alpha3Code": {
					"type": "string"
				},
				"numericCode": {
					"format": "int32",
					"type": "integer"
				},
				"states": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.GuestPortal.ExternalCommon.StateDTO"
					}
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.StateDTO": {
			"type": "object",
			"properties": {
				"alpha2Code": {
					"type": "string"
				},
				"name": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.Common.Maintenance.CreateSpecification": {
			"type": "object",
			"properties": {
				"reservationID": {
					"type": "string"
				},
				"failCode": {
					"type": "string"
				},
				"failDescription": {
					"type": "string"
				},
				"hotelID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.Common.Maintenance.CreateResult": {
			"type": "object",
			"properties": {
				"isSuccessful": {
					"type": "boolean"
				},
				"errorMessage": {
					"type": "string"
				},
				"errorJSON": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.Common.Maintenance.GetFailsSpecification": {
			"type": "object",
			"properties": {
				"groupIDs": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"hotelID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.BaseDataResponse[System.Collections.Generic.List[Silverbyte.Infra.Framework.Common.Common.Maintenance.FailDTO]]": {
			"type": "object",
			"properties": {
				"result": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.Common.Maintenance.FailDTO"
					}
				},
				"responseCorrelationID": {
					"type": "string"
				},
				"originalRequest": {
					"type": "string"
				},
				"isSuccessful": {
					"type": "boolean"
				},
				"errors": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.CodedMessage"
					}
				},
				"warnings": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.CodedMessage"
					}
				},
				"executionDuration": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.Common.Maintenance.FailDTO": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				},
				"id": {
					"type": "string"
				},
				"departmentID": {
					"type": "string"
				},
				"departmentName": {
					"type": "string"
				},
				"failGroupID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.CodedMessage": {
			"type": "object",
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"extraDetails": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.Common.POS.MenuExternalSpecification": {
			"type": "object",
			"properties": {
				"hotelID": {
					"type": "string"
				},
				"outletID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.ExternalMenuResponse": {
			"type": "object",
			"properties": {
				"isSuccessful": {
					"type": "boolean"
				},
				"errorMessage": {
					"type": "string"
				},
				"menu": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.Common.POS.GroupDTO"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.Common.POS.GroupDTO": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"items": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.Common.POS.ItemDTO"
					}
				},
				"groups": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.Common.POS.GroupDTO"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.Common.POS.ItemDTO": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"priceAfterTax": {
					"format": "double",
					"type": "number"
				},
				"isToForceSupplements": {
					"type": "boolean"
				},
				"isToForceInstructions": {
					"type": "boolean"
				},
				"quantity": {
					"format": "int32",
					"type": "integer"
				},
				"currency": {
					"type": "string"
				},
				"supplements": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.Common.POS.SupplemntDTO"
					}
				},
				"instructions": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.Common.POS.InstructionDTO"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.Common.POS.SupplemntDTO": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"priceAfterTax": {
					"format": "double",
					"type": "number"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.Common.POS.InstructionDTO": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"description": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.Common.POS.Bon.CreateSpecification": {
			"type": "object",
			"properties": {
				"hotelID": {
					"type": "string"
				},
				"outletID": {
					"type": "string"
				},
				"reservationID": {
					"type": "string"
				},
				"items": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.Common.POS.ItemDTO"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.BaseDataResponse[Silverbyte.Infra.Framework.Common.Common.POS.Bon.CreateResult]": {
			"type": "object",
			"properties": {
				"result": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.Common.POS.Bon.CreateResult"
				},
				"responseCorrelationID": {
					"type": "string"
				},
				"originalRequest": {
					"type": "string"
				},
				"isSuccessful": {
					"type": "boolean"
				},
				"errors": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.CodedMessage"
					}
				},
				"warnings": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.CodedMessage"
					}
				},
				"executionDuration": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.Common.POS.Bon.CreateResult": {
			"type": "object",
			"properties": {
				"bonNumber": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.RequestKeysSpecification": {
			"type": "object",
			"properties": {
				"reservationID": {
					"type": "string"
				},
				"deviceID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.IssueKeyDeviceResultDTO": {
			"type": "object",
			"properties": {
				"issueKeyDetails": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.GuestPortal.ExternalCommon.IssueKeyDeviceResult"
					}
				},
				"isSuccessful": {
					"type": "boolean",
					"readOnly": true
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.IssueKeyDeviceResult": {
			"type": "object",
			"properties": {
				"reservationID": {
					"type": "string"
				},
				"guestID": {
					"type": "string"
				},
				"deviceID": {
					"type": "string"
				},
				"isSuccessful": {
					"type": "boolean"
				},
				"errorMessage": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.ReservationDTO": {
			"type": "object",
			"properties": {
				"_id": {
					"type": "string"
				},
				"hotelName": {
					"type": "string"
				},
				"guestPortalHotelID": {
					"format": "int32",
					"type": "integer"
				},
				"guestPortalHotelChainID": {
					"format": "int32",
					"type": "integer"
				},
				"hotelChainName": {
					"type": "string"
				},
				"hotelRating": {
					"format": "int32",
					"type": "integer"
				},
				"hotelAddress": {
					"type": "string"
				},
				"hotelPhone": {
					"type": "string"
				},
				"hotelEmail": {
					"type": "string"
				},
				"hotelImage": {
					"type": "string"
				},
				"hotelWebSite": {
					"type": "string"
				},
				"pmsHotelID": {
					"type": "string"
				},
				"pmsHotelChainID": {
					"type": "string"
				},
				"pmsInternalReservationID": {
					"type": "string"
				},
				"pmsExternalReservationID": {
					"type": "string"
				},
				"pmsReservationPrivateKey": {
					"type": "string"
				},
				"arrivalDate": {
					"format": "date-time",
					"type": "string"
				},
				"departureDate": {
					"format": "date-time",
					"type": "string"
				},
				"roomNumber": {
					"type": "string"
				},
				"roomTypeCode": {
					"type": "string"
				},
				"roomTypeName": {
					"type": "string"
				},
				"roomTypeUpgradedFromName": {
					"type": "string"
				},
				"roomTypeUpgradedFromCode": {
					"type": "string"
				},
				"saleChannelName": {
					"type": "string"
				},
				"rateCode": {
					"type": "string"
				},
				"isRoomOpen": {
					"type": "boolean"
				},
				"isDoNotDisturb": {
					"type": "boolean"
				},
				"isDoNotForwardCalls": {
					"type": "boolean"
				},
				"isEarlyCheckedIn": {
					"type": "boolean"
				},
				"status": {
					"type": "string"
				},
				"eta": {
					"type": "string"
				},
				"etd": {
					"type": "string"
				},
				"productName": {
					"type": "string"
				},
				"planCode": {
					"type": "string"
				},
				"planName": {
					"type": "string"
				},
				"totalPrice": {
					"format": "double",
					"type": "number"
				},
				"currencyName": {
					"type": "string"
				},
				"hotelCurrencyCode": {
					"type": "string"
				},
				"voucherNumber": {
					"type": "string"
				},
				"paymentBy": {
					"type": "string"
				},
				"reservationImages": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"longitude": {
					"type": "string"
				},
				"latitude": {
					"type": "string"
				},
				"g4_HotelID": {
					"type": "string"
				},
				"isSecretOfferUsed": {
					"type": "boolean"
				},
				"guestDetails": {
					"$ref": "#/definitions/Silverbyte.GuestPortal.ExternalCommon.ReservationGuest"
				},
				"weatherData": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.OpenWeatherMapData"
				},
				"doorProviderType": {
					"format": "int32",
					"enum": [
						0,
						1
					],
					"type": "integer"
				},
				"lockSerivceCode": {
					"type": "string"
				},
				"roomCatTypeCode": {
					"type": "string"
				},
				"addons": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.GuestPortal.ExternalCommon.ReservationAddonsDTO"
					}
				},
				"assaAbloyDoor": {
					"$ref": "#/definitions/Silverbyte.GuestPortal.ExternalCommon.AssaAbloyDoorProviderDTO"
				},
				"isFileAttached": {
					"type": "boolean"
				},
				"isChargeVat": {
					"type": "boolean"
				},
				"isPrecheckinMailSent": {
					"type": "boolean"
				},
				"isPrecheckoutMailSent": {
					"type": "boolean"
				},
				"folioRerouteTo": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.ReservationGuest": {
			"type": "object",
			"properties": {
				"pmsInternalGuestID": {
					"type": "string"
				},
				"firstName": {
					"type": "string"
				},
				"lastName": {
					"type": "string"
				},
				"email": {
					"type": "string"
				},
				"phone": {
					"type": "string"
				},
				"mobile": {
					"type": "string"
				},
				"adults": {
					"format": "int32",
					"type": "integer"
				},
				"teens": {
					"format": "int32",
					"type": "integer"
				},
				"children": {
					"format": "int32",
					"type": "integer"
				},
				"infants": {
					"format": "int32",
					"type": "integer"
				},
				"passport": {
					"type": "string"
				},
				"identityCardNumber": {
					"type": "string"
				},
				"postalCode": {
					"type": "string"
				},
				"nationalityCode": {
					"type": "string"
				},
				"countryName": {
					"type": "string"
				},
				"stateName": {
					"type": "string"
				},
				"city": {
					"type": "string"
				},
				"streetAndNumber": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.OpenWeatherMapData": {
			"type": "object",
			"properties": {
				"city": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.OpenWeatherMapCity"
				},
				"list": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.OpenWeatherMapWeather"
					}
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.ReservationAddonsDTO": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.OpenWeatherMapCity": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"country": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.OpenWeatherMapWeather": {
			"type": "object",
			"properties": {
				"main": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.OpenWeatherMapMainTemps"
				},
				"weather": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.Common.OpenWeatherMapWeatherDetails"
					}
				},
				"dt_txt": {
					"format": "date-time",
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.OpenWeatherMapMainTemps": {
			"type": "object",
			"properties": {
				"temp": {
					"type": "string"
				},
				"temp_min": {
					"type": "string"
				},
				"temp_max": {
					"type": "string"
				},
				"pressure": {
					"type": "string"
				},
				"sea_level": {
					"type": "string"
				},
				"grnd_level": {
					"type": "string"
				},
				"humidity": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.Common.OpenWeatherMapWeatherDetails": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"main": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"icon": {
					"type": "string"
				}
			}
		},
		"Silverbyte.GuestPortal.ExternalCommon.AddReservationToGuestSpecification": {
			"type": "object",
			"properties": {
				"pmsReservationPrivateKey": {
					"type": "string"
				},
				"reservationID": {
					"type": "string"
				},
				"userID": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_HotelResNotifRS": {
			"type": "object",
			"properties": {
				"hotelReservations": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.HotelReservations"
				},
				"silverbyte_OTABookingConfirm": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA_BookingConfirm"
					}
				},
				"silverbyte_OriginalRequest": {
					"type": "string"
				},
				"success": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.SuccessType"
				},
				"errors": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ErrorsType"
				},
				"warnings": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.WarningsType"
				},
				"correlationID": {
					"type": "string"
				},
				"replyTo": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.HotelReservations": {
			"type": "object",
			"properties": {
				"hotelReservation": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.HotelReservation"
					}
				},
				"tpA_Extensions": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.TPA_Extensions_HotelReservations"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA_BookingConfirm": {
			"type": "object",
			"properties": {
				"reservationId": {
					"type": "string"
				},
				"pmsReservationId": {
					"format": "int32",
					"type": "integer"
				},
				"pmsReservationNumber": {
					"type": "string"
				},
				"isSuccess": {
					"type": "boolean"
				},
				"errors": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"errorEnumCode": {
					"format": "int32",
					"type": "integer"
				},
				"errorOptionalParameters": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"userName": {
					"type": "string"
				},
				"userId": {
					"format": "int32",
					"type": "integer"
				},
				"httpStatusCode": {
					"format": "int32",
					"type": "integer"
				},
				"guestID": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.HotelReservation": {
			"type": "object",
			"properties": {
				"resGlobalInfo": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ResGlobalInfo"
				},
				"createDateTime": {
					"format": "date-time",
					"type": "string"
				},
				"resStatus": {
					"type": "string"
				},
				"creator": {
					"type": "string"
				},
				"pos": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.OTA_POS"
				},
				"uniqueID": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.UniqueID_Type"
					}
				},
				"billingInstructionCode": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.BillingInstructionCodeType"
				},
				"resGuests": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ResGuestsType"
				},
				"roomStays": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.RoomStays"
				},
				"services": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ServicesType"
				},
				"extraTransactionId": {
					"format": "int32",
					"type": "integer"
				},
				"silverbyte_MasterId": {
					"type": "string"
				},
				"silverbyte_ChannelManagerReservationStatus": {
					"format": "int32",
					"enum": [
						0,
						1,
						2,
						3
					],
					"type": "integer"
				},
				"tpA_Extensions": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.SilverByte_HotelReservation_TPA_Extensions"
				},
				"creatorID": {
					"type": "string"
				},
				"lastModifierID": {
					"type": "string"
				},
				"lastModifyDateTime": {
					"type": "string"
				},
				"roomStayReservation": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.TPA_Extensions_HotelReservations": {
			"type": "object",
			"properties": {
				"customAttributes": {
					"type": "object"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.ResGlobalInfo": {
			"type": "object",
			"properties": {
				"basicPropertyInfo": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.BasicPropertyInfo"
				},
				"totalPrice": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.TotalType"
				},
				"hotelReservationIDs": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.HotelReservationIDs"
				},
				"depositPayments": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.RequiredPaymentsType"
				},
				"timeSpan": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ResCommonDetailTypeTimeSpan"
				},
				"profiles": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ProfilesType"
				},
				"comments": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.CommentType"
				},
				"guarantee": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.Guarantee"
				},
				"fees": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.FeesType"
				},
				"total": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.TotalType"
				},
				"guestCounts": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.GuestCounts"
				},
				"specialRequests": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.SpecialRequests"
				},
				"cancelPenalties": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.CancelPenaltiesType"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.BillingInstructionCodeType": {
			"type": "object",
			"properties": {
				"accountNumber": {
					"type": "string"
				},
				"billingCode": {
					"type": "string"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.ResGuestsType": {
			"type": "object",
			"properties": {
				"resGuest": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ResGuest"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.RoomStays": {
			"type": "object",
			"properties": {
				"roomStay": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.RoomStaysTypeRoomStay"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.ServicesType": {
			"type": "object",
			"properties": {
				"service": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ServiceType"
					}
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.SilverByte_HotelReservation_TPA_Extensions": {
			"type": "object",
			"properties": {
				"reservationVisibleGuestComments": {
					"type": "string"
				},
				"pmsReservationPrivateKey": {
					"type": "string"
				},
				"cmReservationProcessUniqueId": {
					"type": "string"
				},
				"wingID": {
					"format": "int32",
					"type": "integer"
				},
				"wingCode": {
					"type": "string"
				},
				"isReservationPreCheckedIn": {
					"type": "boolean"
				},
				"silverbyte_FirmName": {
					"type": "string"
				},
				"folioRerouteTo": {
					"type": "string"
				},
				"silverbyte_UniqueID": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.UniqueID_Type"
				},
				"marketSegment": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.MarketSegment"
				},
				"channelHotelID": {
					"type": "string"
				},
				"color": {
					"type": "string"
				},
				"folioNumber": {
					"type": "string"
				},
				"reservationSource": {
					"type": "string"
				},
				"guestPortalReservationPrivateKey": {
					"type": "string"
				},
				"hotelID": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"Silverbyte.Infra.Framework.IndustryStandards.OTA.BasicPropertyInfo": {
			"type": "object",
			"properties": {
				"hotelCode": {
					"type": "string"
				},
				"hotelName": {
					"type": "string"
				},
				"chainCode": {
					"type": "string"
				},
				"chainName": {
					"type": "string"
				},
				"contactNumbers": {
					"$ref": "#/definitions/Silverbyte.Infra.Framework.IndustryStandards.OTA.ContactNumbersType"
				},
				"address": {
[...]
